#-f https://huggingface.co/kontur-ai/sbert_punc_case_ru
#sbert_punc_case_ru
streamlit
tensorflow
torch
transformers
sacremoses
sentencepiece

spacy
ru_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.0.0/ru_core_news_sm-3.0.0-py3-none-any.whl
